name: Azure Container Registry Cleanup

on:
  workflow_dispatch:
    inputs:
      acr_endpoint:
        description: "ACR endpoint"
        required: true

      repo:
        description: "Repository name"
        required: true

      subcommand:
        description: "Sub-command to run"
        required: true
        type: choice
        options:
          - cleanup-manifests
          - cleanup-tags

      start_date:
        description: "Start date (YYYY-MM-DD)"
        required: true

      end_date:
        description: "End date (YYYY-MM-DD)"
        required: true

      log_level:
        description: "Logging level of the application"
        default: "INFO"
        required: false
        type: choice
        options:
          - DEBUG
          - INFO
          - WARNING
          - ERROR

jobs:
  run-script:
    if: ${{ github.ref_name == 'develop' }}
    runs-on: robot-shop-runner-azure-dev

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Create virtual environment
        run: python -m venv .venv

      - name: Install dependencies
        run: |
          source .venv/bin/activate
          pip install --upgrade pip
          pip install -r azure_scripts/requirements.txt

      - name: Run ACR cleanup script
        env:
          AZURE_CLIENT_ID: ${{ secrets.ROBOT_SHOP_DEV_AZURE_CLIENT_ID_AUTOMATION }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.ROBOT_SHOP_DEV_AZURE_CLIENT_SECRET_AUTOMATION }}
        run: |
          set -e
          source .venv/bin/activate

          python -m azure_scripts.main acr ${{ github.event.inputs.subcommand }} \
          --acr-endpoint "${{ github.event.inputs.acr_endpoint }}" \
          --repo "${{ github.event.inputs.repo }}" \
          --start-date "${{ github.event.inputs.start_date }}" \
          --end-date "${{ github.event.inputs.end_date }}" \
          --log-level "${{ github.event.inputs.log_level }}"